/* partie 4 "activités à Marseille" => les images x6 de tailles différentes*/
.quatrieme_partie_section_images {
    display: flex; 
    flex-direction: column; 
    flex-wrap: wrap; 
    justify-content: space-evenly;
    align-content: space-between;
    width: 100%; 
    height: 700px;
}

.quatrieme_partie_cards {
    display: flex; 
    flex-direction: column; 
    width: calc(25% - 20px); 
    box-shadow: 0px 4px 4px #d3d2d2;
    border-radius: 30px;
}

.quatrieme_partie_cards:hover {
    cursor: pointer;
}

.quatrieme_partie_card1, .quatrieme_partie_card4 {
    height: 575px;
}

.quatrieme_partie_card2 {
    height: 290px;
}

.quatrieme_partie_card3 {
    height: 190px;
}

.quatrieme_partie_card5, .quatrieme_partie_card6 {
    height: 240px;
}

.quatrieme_partie_cards_images {
    background-color: white; 
    border-top-right-radius: 30px; 
    border-top-left-radius: 30px; 
    overflow: hidden; 
    object-fit: cover;
} 

.quatrieme_partie_cards_images--image {
    width: 100%;
    object-fit: cover;
}

/*banniere en dessous des images*/
.quatrieme_partie_cards_titres {
    border-bottom-left-radius: 30px; 
    border-bottom-right-radius: 30px; 
    z-index: 1000;
}

.quatrieme_partie_titre2 {
    font-size: 130%;
}

.quatrieme_partie_titre3 {
    padding-left: 25px;
    line-height: 70px;
}

/*media queries*/
@media(min-width: 1120px) and (max-width: 1350px){ 
    .quatrieme_partie_section_images {
        height: 550px;
    }

    .quatrieme_partie_card1, .quatrieme_partie_card4 {
        height: 475px;
    }

    .quatrieme_partie_card2 {
        height: 230px;
    }

    .quatrieme_partie_card3 {
        height: 170px;
    }

    .quatrieme_partie_card5, .quatrieme_partie_card6 {
        height: 200px;
    }

    .quatrieme_partie_titre3 {
        font-size: 80%;
        padding-left: 20px;
        line-height: 60px;
    }
} 

/*media queries*/
@media (min-width: 980px) and (max-width: 1120px) { 
    .quatrieme_partie_section_images {
        height: 550px;
    } 

    .quatrieme_partie_card1, .quatrieme_partie_card4 {
        height: 450px;
    }

    .quatrieme_partie_card2 {
        height: 210px;
    }

    .quatrieme_partie_card3 {
        height: 170px;
    }

    .quatrieme_partie_card5, .quatrieme_partie_card6 {
        height: 190px;
    }

    .quatrieme_partie_titre3 {
        font-size: 70%;
        padding-left: 15px;
        line-height: 52px;
    }
}

/*media queries*/
@media (min-width: 750px) and (max-width: 979px) { 
    .quatrieme_partie_section_images {
        justify-content: space-around;
        align-content: space-between;
        height: 1050px;
    }

    .quatrieme_partie_cards {
        width: calc(50% - 10px);
    } 

    .quatrieme_partie_card1, .quatrieme_partie_card2, .quatrieme_partie_card3, 
    .quatrieme_partie_card4, .quatrieme_partie_card5, .quatrieme_partie_card6 {
        height: 250px;
    }
}

/*media queries*/
    @media (max-width: 749px) { 
    .quatrieme_partie_section_images {
        width: 100%; 
        height: 1605px;
    }

    .quatrieme_partie_cards {
        width:100%; 
        height: 250px;
    }
    
    .quatrieme_partie_card1, .quatrieme_partie_card2, .quatrieme_partie_card3,
    .quatrieme_partie_card4, .quatrieme_partie_card5, .quatrieme_partie_card6 {
        height: 250px;
    }
}