/*parties des filtres*/
.deuxieme_partie__filtres {
	display: flex;
	align-items: baseline;
    width: 85%;
	height: auto;
	font-weight: bold;
	margin-bottom: 25px;
}

.deuxieme_partie__filtres___paragraphe {
	width: 6%;
}

.deuxieme_partie__filtres__sous_parties {
	display: flex;
	justify-content: space-evenly;
	width: 80%;
}

.sous_partie_filtres__sous_parties {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: right;
    height: 50px;
	border: 2px solid #cbcaca;	
	border-radius: 30px;
	padding-right: 2%;/*espacement entre les titres*/
	padding-left: 7%;/*idem*/
	position: relative;/*ajustement padding avec titres*/
}

.sous_partie_filtres__sous_parties:hover {
	display: flex;
	justify-content: flex-start;
    align-items: center;
    text-align: right;
    height: 50px;
	border: 2px solid #DEEBFF;
	border-radius: 25px;
	padding-right: 2%;
	padding-left: 7%;
	position: relative;
	background-color:#F2F2F2;
	color:  #0065FC;
	cursor: pointer;
}

.sous_parties__encadrement_icone {
	display: flex;
	justify-content: center;
	align-items: center;
    min-width: 52px;
    height: 47px;
	border-radius: 30px;
	margin-left: 0%;
	margin-right: 0%;/*espace icone et titre*/
	position: absolute;
	left: 0;
}

/*partie information avec icone i*/
.deuxieme_partie__info {
    display: flex;
	justify-content: flex-start;
	margin-top: 25px;
}

.deuxieme_partie__info__contour_info {
	margin-right: 1%;
}

.icone_i {
	width: 21px;
    height: 21px;
	text-align: center;
    border: 1px solid #808080;
    border-radius: 35px;	
}

/*media queries*/
@media (min-width: 1090px) and (max-width: 1270px) { 
	.deuxieme_partie__filtres {
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-top: 40px;
	}
	
	.deuxieme_partie__filtres___paragraphe {
        width: 100%;
        padding-bottom: 15px;
    }
		
	.deuxieme_partie__filtres__sous_parties {
		justify-content: space-between;
		width: 82%;
	}
}

@media (min-width: 1023px) and (max-width: 1089px) { 
	.deuxieme_partie__filtres {
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-top: 40px;
	}

    .deuxieme_partie__filtres___paragraphe {
        width: 100%;
        padding-bottom: 15px;
    } 
		
	.deuxieme_partie__filtres__sous_parties {
		justify-content: space-between; 
		width: 84%;
	}
}

@media (min-width: 850px) and (max-width: 1023px) {
	.deuxieme_partie__filtres {
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-top: 40px;
	}

	.deuxieme_partie__filtres___paragraphe {
		width: 100%;
		padding-bottom: 15px;
	} 

	.deuxieme_partie__filtres__sous_parties {
		justify-content: space-between;
        align-items: center;
		width: 100%;
	}

	.sous_partie_filtres__sous_parties {
		border-radius: 25px;
		padding-right: 1%;/*espacement entre les titres*/
		padding-left: 7.5%;/*idem*/
	}

	.sous_partie_filtres__sous_parties:hover {
		border-radius: 25px;
		padding-right: 1%;
		padding-left: 7.5%;
		color:  #0065FC;
		background-color:#F2F2F2;
	}
	
	.sous_parties__encadrement_icone {
		margin-right: 5%;/*espace icone et son titre*/
	}
}

@media (min-width: 736px) and (max-width: 850px) { 
	.deuxieme_partie__filtres {
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-top: 40px;
	}

    .deuxieme_partie__filtres {
        margin-bottom: 0px;
	}

    .deuxieme_partie__filtres___paragraphe {
		height: 30px;
        padding-bottom: 35px;
	}

	.deuxieme_partie__filtres__sous_parties {
		justify-content: space-between;
        flex-wrap: wrap;
		width: 82%; 
		height: 130px;/*espacement entre les filtres*/
	}    

	.sous_partie_filtres__sous_parties {
		padding-right: 4%;
		padding-left: 10%;
		margin-bottom: 3px;
	}
		
	.sous_partie_filtres__sous_parties:hover {
		padding-right: 4%;
		padding-left: 10%;
		color:  #0065FC;
		background-color:#F2F2F2;
	}

	/*partie information avec icone i*/
    .deuxieme_partie__info {
        margin-top: 10px;
	}

	.deuxieme_partie__info__contour_info {
		height: 20px;
        border-radius: 35px;
	}

	.deuxieme_partie__info__disponibilites {
        font-size: 100%;
	}
}

@media (min-width: 620px) and (max-width: 736px) { 
	.deuxieme_partie__filtres {
		flex-direction: column;
		width: 100%;
		height: auto;/*hauteur entre filtres et informations i*/
        margin-bottom: 0px;
	}
	
    .deuxieme_partie__filtres___paragraphe {
		width: 100%;
		height: 30px;/*hauteur entre filtre partie sous filtres*/
        padding-bottom: 35px;
	}

	.deuxieme_partie__filtres__sous_parties {
		justify-content: space-between;
        flex-wrap: wrap;
		width: 100%;
		min-height: 130px;/*espacement entre les filtres*/
	}    

	.sous_partie_filtres__sous_parties {
		padding-right: 4%;/*espacement entre les titres*/
		padding-left: 18%;/*idem*/
		margin-bottom: 15px;
		margin-right: 10px;
	}
		
	.sous_partie_filtres__sous_parties:hover {
		padding-right: 4%;
		padding-left: 18%;
		margin-right: 10px;
		color:  #0065FC;
		background-color:#F2F2F2;
	}
}

@media (max-width: 620px) { 
	.deuxieme_partie__filtres {
		flex-direction: column;
		width: 100%;
		height: auto;/*hauteur entre filtres et informations i*/
        margin-bottom: 0px;
	}
	
    .deuxieme_partie__filtres___paragraphe {
		width: 100%;
		height: 30px;/*hauteur entre filtre partie sous filtres*/
        padding-bottom: 35px;
	}

	.deuxieme_partie__filtres__sous_parties {
		justify-content: space-between;
        flex-wrap: wrap;
		width: 100%;
		min-height: 130px;/*espacement entre les filtres*/
	}    

	.sous_partie_filtres__sous_parties {
		padding-right: 4%;/*espacement entre les titres*/
		padding-left: 20%;/*idem*/
		margin-right: 3px;
		margin-left: 3px;
		margin-bottom: 15px;
	}
		
	.sous_partie_filtres__sous_parties:hover {
		padding-right: 4%;
		padding-left: 20%;
		margin-right: 3px;
		margin-left: 3px;
		color:  #0065FC;
		background-color:#F2F2F2;
	}
}