/*footer du site*/
.pied_de_page {
    display: flex;
    padding: 15px 30px;
}      

.pied_de_page__container {
    flex: 1;
    margin: 35px 0;
}   

.pied_de_page__titre {
    padding-bottom: 50px;
    height: 15px;
}  

.pied_de_page__listes {
    list-style: none;
    padding-bottom: 15px;
}

.pied_de_page__listes a{
    text-decoration: none;
    color: #000000;
}

.pied_de_page__listes a:hover{
    cursor: pointer;
    color: #383535;
}

/*media queries pour tablettes*/
@media (min-width: 737px) and (max-width: 1023px) { 
    .pied_de_page {
        font-size: 80%;
        padding: 0 2%;
    }   
}

/*media queries pour smartphone*/
@media (max-width: 736px) { 
    .pied_de_page {
        flex-direction: column;
        padding: 0 2%;
    }
}
    