/*partie Formulaire*/
.deuxieme_partie__rechercher {
	display: flex;
}

.deuxieme_partie__partie_icone_emplacement {
	width: 5%;
	height: 65px;
	border: 1px solid #F2F2F2;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	padding-top: 22px;
} 

.div_icone_emplacement {
	text-align: center;
	background-color: #F2F2F2;
}

.sous_items_formulaire_rechercher {
	width: 50%;
	height: 65px;
	border: 1px solid #F2F2F2;
	padding-top: 8px;
}

.deuxieme_partie__ville {
	width: 18%;
	height: 50px;
	border: 1px solid #F2F2F2;
	padding: 22px 20px 41px 20px;
}

form {
	display:flex;
	width: 100%;	
}

select{ 
	width: auto;
	border: 0;
	border-radius: 0;
	font-weight: 600;
	appearance:unset;
	outline: none;
	background: transparent;
}

.selections select:hover {
	color: #0065FC;
} 

optgroup, option {
	font-size: 90%;
}

/*partie bouton desktop*/   
.deuxieme_partie__desktop button {
	box-sizing: border-box;
}
		
.deuxieme_partie__desktop button[type=submit] {
	height: 65px;
	color: #ffffff;
	font-weight: 500;
	width: 175px;
	padding: 0 20px;
	border: none;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	outline: 0;
}

.deuxieme_partie__desktop button:hover, input[type=submit]:hover {
	height: 65px;
	color: #0065FC;
	font-weight: 600;
	cursor: pointer;
	width: 175px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #DEEBFF;
}

.deuxieme_partie__iphone8 {
	visibility: hidden;
}

/*partie bouton iphone8*/   
.deuxieme_partie__iphone8 button {
	box-sizing: border-box;
}
		
.deuxieme_partie__iphone8 button[type=submit] {
	width: 100%;
	height: 64px;
	color: #ffffff;	
	border: none;
	border-radius: 20px;
	padding: 22px;
	outline: 0;
	background-color: #0065FC;
}

.deuxieme_partie__iphone8 button:hover, input[type=submit]:hover {
	width: 100%;
	height: 64px;
	color: #0065FC;
	font-weight: 600;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	background-color: #DEEBFF;	
}

/*media queries*/
@media (min-width: 737px) and (max-width: 1130px) { 
	.deuxieme_partie__partie_icone_emplacement {
		width: 9%;
		height: 65px;
		border: 1px solid #F2F2F2;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		padding-top: 22px;
	} 

	optgroup, option {
		font-size: 80%;
	}

	.deuxieme_partie__ville {
		width: 28%;
		height: 65px;
		border: 1px solid #F2F2F2;
		padding: 22px 0 40px 15px;
	}
			
	.deuxieme_partie__desktop button[type=submit] {
		width: 150px;
		height: 65px;
		color: white;
		border: none;
		border-bottom-right-radius: 10px;
		border-top-right-radius: 10px;
		padding: 0 20px;
		outline: 0;
	}
	
	.deuxieme_partie__desktop button:hover, input[type=submit]:hover {
		width: 150px;
		height: 65px;
		color: #0065FC;
		font-weight: 600;
		cursor: pointer;
		border-bottom-right-radius: 10px;
		border-top-right-radius: 10px;
		background-color: #DEEBFF;
	}

	.deuxieme_partie__iphone8 {
		visibility: hidden;
	}
}

@media (max-width: 736px) { 
	.deuxieme_partie__rechercher {
		width: 100%;
		height: 60px;
	}

	.deuxieme_partie__partie_icone_emplacement {
		min-width: 10%;
		width: 20%;
		height: 64px;
		border: 1px solid #F2F2F2;
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;
		padding-top: 22px;
	}	 

	.deuxieme_partie__ville {
		width: 100%;
		border: 1px solid #F2F2F2;
		padding: auto 2%;
	}

	.deuxieme_partie__desktop {
		display: none;
	}

	.deuxieme_partie__iphone8 {
		visibility: visible;
		margin-left: -6%;
	}
}

